{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="d-flex justify-content-between align-items-center my-4">
    <h1>{% trans "Метки" %}</h1>
    <a href="{% url 'labels_create' %}" class="btn btn-primary">{% trans "Создать метку" %}</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "Имя" %}</th>
            <th>{% trans "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'labels_update' label.id %}">{% trans "Изменить" %}</a>
                <br>
                <a href="{% url 'labels_delete' label.id %}">{% trans "Удалить" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}