[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    migrations,
    manage.py,
    settings.py,
    asgi.py,
    wsgi.py,
    node_modules,
    staticfiles,
    locale
max-complexity = 10
ignore =
    E501,
    W503,
    E203
per-file-ignores =
    __init__.py:F401
